/*-----------------  Navbar container -----------------*/
#navbar-container img {
  width: 70px; }
#navbar-container a {
  color: black; }

/*-------------- MENU CONTAINER -----------------*/
#menu-container {
  background-color: #42d7bc; }
  #menu-container li a {
    color: white;
    padding: 1.5rem;
    font-weight: bold;
    text-transform: uppercase; }
  #menu-container .dropdown-menu {
    background-color: #42d7bc; }

/*----------- INFO HOME --------------------*/
#info-home {
  height: 38vh;
  background-color: #434348; }
  #info-home h2 {
    font-family: 'Lato', sans-serif;
    color: white; }

/*----------- OUR SERVICIES --------------------*/
#our-services .col {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px; }
#our-services .tv-img {
  background-image: url("../images/tv.jpg"); }
#our-services .phone-img {
  background-image: url("../images/phone.jpg"); }
#our-services .internet-img {
  background-image: url("../images/internet-img.jpg"); }

#footer-container {
  background-color: #434348;
  padding: 1.5rem; }
  #footer-container a {
    color: white;
    text-decoration: none; }

/*# sourceMappingURL=app.css.map */
